.tableContainer {
  min-height: 246px;
  box-sizing: border-box;
}

.statsTable {
  width: 100%;
}

.statsTable tr {
  height: 30px;
}

.statsTable tr td:first-of-type {
  font-family: var(--other-font-family);
}

.statsTable tr td:nth-of-type(2) {
  text-align: right;
}
