.userCard {
  border: 1px solid var(--primary-text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-bottom: var(--default-space);
}

.cardTop {
  padding: 10px;
  background-color: var(--story-page-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 1px solid var(--primary-text-color);
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-style: italic;
  font-size: 12px;
}

.cardBottom {
  padding: 0 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebe0c9;
  min-height: 28px;
  box-sizing: border-box;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
